/*
 * Empty Stylesheet file.
 */


.questionBox {
    -fx-background-radius: 15;
    -fx-padding: 5 20 20 20;
    -fx-spacing: 10;
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
}

    .questionBox * {
        -fx-text-fill: #444;
    }

    .questionBox .title {
        -fx-font-weight: bold;
        -fx-padding: 10 0 0 0;
    }

    .questionBox .content {
        -fx-border-color: #ddd;
        -fx-padding: 5;
        -fx-border-radius: 3px;
        -fx-background-radius: 3px;
    }