/*
 * Empty Stylesheet file.
 */


.scrollPane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

    .scrollPane > .scroll-bar {
        -fx-background-color: transparent
    }

    .scrollPane > .scroll-bar > .track {
        -fx-background-color: transparent;
        -fx-padding: 5;
    }
    
    .scrollPane > .scroll-bar:horizontal > .increment-button,
    .scrollPane > .scroll-bar:horizontal > .decrement-button {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
    }
    
    .scrollPane > .scroll-bar:vertical > .increment-button,
    .scrollPane > .scroll-bar:vertical > .decrement-button {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
    }
    
    .scrollPane > .scroll-bar > .thumb {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
        -fx-background-insets: 1;
    }
    
    .scrollPane:hover > .scroll-bar > .thumb {
        -fx-background-color: dodgerblue;
    }
    
    .scrollPane > .scroll-bar > .decrement-button,
    .scrollPane > .scroll-bar > .increment-button {
        
    }
    
    .scrollPane > .scroll-bar > .decrement-button > .decrement-arrow,
    .scrollPane > .scroll-bar > .increment-button > .increment-arrow {
        -fx-shape: null;
        -fx-padding: 2;
        -fx-background-color: transparent;
    }



.sideNav {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 2, 0);
    -fx-background-color: #333;
}

.primarySplitPane {
    -fx-box-border: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

    .primarySplitPane > .split-pane-divider {  
        -fx-background-color: transparent;
        -fx-padding: 0 1px 0 0;
    }
    

    .questionForm {
        -fx-background-radius: 15;
        -fx-padding: 5 20 20 20;
        -fx-border-radius: 5;
        -fx-background-color: white;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
    }
    
    .questionForm > * {
        -fx-text-fill: #444;
    }
    
    .questionForm > .title {
        -fx-font-weight: bold;
        -fx-padding: 10 0 0 0;
    }
    
    .questionForm > .content {
        -fx-border-color: #ddd;
        -fx-padding: 5;
        -fx-border-radius: 3px;
        -fx-background-radius: 3px;
    }