/*
 * Empty Stylesheet file.
 */


.circleMaterialButton {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-background-color: orange;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 0, 2);
    -fx-text-fill: white;
}

.circleMaterialButton:hover {
    -fx-background-color: white;
    -fx-text-fill: #666;
}

.scrollPane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

    .scrollPane > .scroll-bar {
        -fx-background-color: transparent
    }

    .scrollPane > .scroll-bar > .track {
        -fx-background-color: transparent;
    }
    
    .scrollPane > .scroll-bar:horizontal > .increment-button,
    .scrollPane > .scroll-bar:horizontal > .decrement-button {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
    }
    
    .scrollPane > .scroll-bar:vertical > .increment-button,
    .scrollPane > .scroll-bar:vertical > .decrement-button {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
    }
    
    .scrollPane > .scroll-bar > .thumb {
        -fx-background-color: #888;
        -fx-background-radius: 0;
        -fx-background-insets: 1;
    }
    
    .scrollPane > .scroll-bar > .decrement-button,
    .scrollPane > .scroll-bar > .increment-button {
        
    }
    
    .scrollPane > .scroll-bar > .decrement-button > .decrement-arrow,
    .scrollPane > .scroll-bar > .increment-button > .increment-arrow {
        -fx-shape: null;
        -fx-padding: 2;
        -fx-background-color: transparent;
    }







.activityBar {
    -fx-background-color: #222;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #444;
}

    .activityButton {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
        -fx-text-fill: #ddd;
        -fx-border-width: 0 0 1 0;
        -fx-border-color: #444;
        -fx-font-style: italic;
        -fx-font-family: "Arial";
        -fx-font-size: 11;
        -fx-padding: 0;
        -fx-background-insets: 0;
    }

    .activityButton:hover {
        -fx-background-color: deepskyblue;
        -fx-text-fill: #222;
        -fx-border-color: deepskyblue;
    }
    
    .activityButtonLast {
        -fx-border-width: 1 0 0 0;
    }


.sideNav {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 2, 0);
    -fx-background-color: #333;
}

.primarySplitPane {
    -fx-box-border: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

    .primarySplitPane > .split-pane-divider {  
        -fx-background-color: transparent;
        -fx-padding: 0 1px 0 0;
    }
    

    .questionForm {
        -fx-background-radius: 15;
        -fx-padding: 10 20 10 20;
        -fx-border-radius: 5;
        -fx-background-color: dodgerblue;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
    }
    
    .questionForm > * {
        -fx-text-fill: white;
    }
    
    .questionForm > .title {
        -fx-font-weight: bold;
        -fx-padding: 15 0 5 0;
    }
    
    .questionForm > .content {
        -fx-border-color: #ddd;
        -fx-padding: 5;
        -fx-border-radius: 3px;
        -fx-background-radius: 3px;
    }